.one {
    height: 100px;
    margin: 20px;
    background: radial-gradient(#fceabb, #f8b500);
    background-repeat: no-repeat;
  }
  
  .two {
    height: 100px;
    margin: 20px;
    background: radial-gradient(circle farthest-side, #fceabb, #f8b500);
    background-repeat: no-repeat;
  }